@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('../../public/fonts/GoogleSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Medium';
  src: url('../../public/fonts/GoogleSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoogleSans-Regular';
  src: url('../../public/fonts/GoogleSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'GoogleSans-Regular', sans-serif;
  --font-family-bold: 'GoogleSans-Bold', sans-serif;
  --font-family-medium: 'GoogleSans-Medium', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fff;
    --black: #000;
    --marquee-backgroundBlue: #428eff;
    --marquee-backgroundYellow: #ffbb01;
    --gray20: #e5e7eb;
    --gray: #676c72;
    --gray60: #4b5563;
    --blue50: #4285f4;
    --red50: #ea4336;
    --green50: #34a853;
    --yellow50: #faab00;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --white: #fff;
    --black: #000;
    --marquee-backgroundBlue: #428eff;
    --marquee-backgroundYellow: #ffbb01;
    --gray20: #e5e7eb;
    --gray: #676c72;
    --gray60: #4b5563;
    --blue50: #4285f4;
    --red50: #ea4336;
    --green50: #34a853;
    --yellow50: #faab00;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}

.bg-cfs-gradient {
  background: linear-gradient(
    103.63deg,
    #ea4336 0.58%,
    #4285f4 44.38%,
    #34a853 84.92%,
    #faab00 126.11%
  );
}
